# Auth
# doc: https://firebase.google.com/docs/reference/admin/node/firebase-admin.auth.sessioncookieoptions
# minimum: 5 minutes in milliseconds = 300000
# maximum: 2 weeks in milliseconds = 1209600000
######################################################################################
NUXT_PUBLIC_AUTH_COOKIE_NAME=__session
NUXT_PUBLIC_AUTH_COOKIE_EXPIRES=300000

# Firebase Public
######################################################################################
NUXT_PUBLIC_FIREBASE_API_KEY=""
NUXT_PUBLIC_FIREBASE_AUTH_DOMAIN=""
NUXT_PUBLIC_FIREBASE_PROJECT_ID=""
NUXT_PUBLIC_FIREBASE_STORAGE_BUCKET=""
NUXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=""
NUXT_PUBLIC_FIREBASE_APP_ID=""

# Firebase Admin
######################################################################################
NUXT_FIREBASEADMIN_PROJECT_ID=""
NUXT_FIREBASEADMIN_CLIENT_EMAIL=""
NUXT_FIREBASEADMIN_PRIVATE_KEY=""
NUXT_FIREBASEADMIN_DATABASE_URL=